@import "fonts";
@import "base";
@import "libs";
@import "vars";

.wrapper {
  //display: grid;
  max-width: 1140px;
  margin: 0 auto 15px;
  padding: 15px;

  //justify-items: center;
}



// КНОПКА НАВЕРХ

.topbutton {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  color: #333;
}

@import "media";