@import "fonts";
@import "base";
@import "libs";
@import "vars";

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

// КОНТАКТЫ

.contact {
  display: flex;
  align-items: center;
  background-color: $bg;
  min-height: 70px;

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
  }
}

.contact__phone,
.contact__email {
  display: flex;

  img {
    height: 30px;
    margin-right: 10px;
  }

  p {
    color: #ffffff;
    font-size: 18px;
    margin-right: 30px;
    font-weight: 700;
  }
}

.social-icon {
  display: flex;
  margin-left: auto;

  img {
    height: 30px;
  }
}

// HEADER ФОН
.header-bg {
  background-image: url(../img/flag-bg.jpg);
  /* Путь к фоновому изображению */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 350px;
  width: 1900px;
  display: flex;
  align-items: center;
  z-index: -100;

  // background-color: ;
  /* Цвет фона */
  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;

    img {
      width: 218px;
      height: 250px;
    }
  }

}

.header-bg__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .subs {
    margin-left: auto;
  }

}

.header-title {
  display: flex;
  color: #004B83;
  font-size: 45px;
  align-items: center;
  text-transform: uppercase;
  margin-left: auto;
  max-width: 886px;
}

.subs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 270px;
  background-color: #E30213;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius: 25px;
  text-align: center;
}

// HEADER НАВИГАЦИЯ
.nav {
  display: flex;
  align-items: center;
  background-color: $bg;
  min-height: 70px;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    list-style-type: none;
  }
}

.menu__item {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s ease;

  &:hover,
  &:active {
    color: $btn;
  }
}

.current a {
  color: $btn;
}



// MAIN
.title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #004B83;
  margin: 0 auto 35px;
  padding-top: 70px;
}

.about {
  max-width: 800px;
  margin: auto;
  margin-bottom: 43px;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;

  .desc {
    margin-bottom: 1.5em;
  }
}

#docs {
  border-top: 1px solid #004B83;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #004B83;
  margin: 0 auto 35px;
  padding-top: 35px;
}

.inner-sub {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #004B83;
  margin: 0 auto;
  font-size: 18px;
}

// FOOTER
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: $bg;
  min-height: 200px;

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .developer {
    color: #000;
    text-align: center;
    margin-bottom: 15px;
  }
}

.inner-text {
  max-width: 555px;
  min-height: 130px;
  color: #fff;

  p:first-child {
    margin-bottom: 1.5rem;
  }
}

.contact-footer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  min-height: 130px;

  .inner-contact {
    display: flex;
    margin-left: auto;
  }

  .inner-contact:nth-child(1) {
    margin-bottom: 10px;
  }

  .inner-contact:nth-child(2) {
    margin-bottom: 10px;
  }

  .contact__phone,
  .contact__email {
    p {
      color: #ffffff;
      font-size: 16px;
      margin-right: 0;
      font-weight: 700;
    }
  }

}

// СТРАНИЦА СТРУКТУРА КОМИТЕТА

.chief {
  margin: 0 auto;
}

.member-inner {
  display: flex;
  justify-content: space-between;
}

.member {
  width: 240px;
  height: 400px;
  margin-bottom: 30px;

  img {
    width: 240px;
    height: 320px;
    object-fit: cover;
  }

  .member_name {
    font-size: 22px;
    max-width: 240px;
    text-align: center;
  }
}

// СТРАНИЦА РЕГИОНАЛЬНЫЕ ОТДЕЛЕНИЯ

.depart-inner {
  display: flex;
  justify-content: space-between;
}

.department {
  margin-bottom: 60px;

  .address {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    max-width: 240px;
  }

  img {
    margin-top: 15px;
    width: 240px;
    height: 240px;
    object-fit: cover;
  }
}

// СТРАНИЦА ПАРТНЁРЫ

.partners-inner {
  display: flex;
  justify-content: space-between;
}

.partner {
  margin-bottom: 60px;

  .desc {
    font-weight: 400;
    color: #000000;
    max-width: 240px;
  }

  img {
    margin-top: 15px;
    width: 240px;
    height: 240px;
    object-fit: cover;
  }
}

// СТРАНИЦА НОВОСТИ

.news-inner {
  display: flex;
  flex-wrap: wrap;
}

.new {
  margin-bottom: 60px;
  display: flex;

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
  }

  .desc {
    font-weight: 400;
    color: #000000;
    max-width: 405px;
  }
}

// СТРАНИЦА ОБРАТНАЯ СВЯЗЬ

.address {
  display: flex;
  flex-direction: column;
  margin: 25px auto;

  p,
  a {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 22px;
    color: #000000;
    margin-bottom: 15px;
  }
}

.map {
  width: 1140px;
  height: 600px;
  object-fit: cover;
  margin-bottom: 60px;
}











// КНОПКА НАВЕРХ

.topbutton {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  color: #333;
}

@import "media";